* {
    padding: 0;
    margin: 0;
}

body {
    background: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borda {
    background: #fff;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 15px;
    float: left;
}

.borda img {
    width: 300px;
    height: 150px;
}

.borda h2 {
    margin: 5px 0;
}